body, ul, li {
    margin: 0;
    padding: 0;
}
body {
    background-color: #edf0f1;
    padding-top: 60px;
}

/* 1.去除android a/button/input/div标签被点击时产生的边框 2.去除ios a标签被点击时产生的半透明灰色背景 */
a,button,input,div{-webkit-tap-highlight-color:rgba(255,0,0,0);}

.ban-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
li {
    list-style: none;
}
.nav {
    z-index: 15;
    position: fixed;
    top: 0;
    background-color: rgb(37, 185, 154);
    width: 100%;
    height: 60px;
    box-shadow: 1px 1px 10px 3px #aeaeae;

    -moz--webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.nav-title {
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
}
.menuBtn {
    /*float: left;*/
    position: absolute;
    height: 40px;
    width: 44px;
    /*background-color: rgb(37, 185, 154);*/
    margin-top: 10px;
    margin-left: 5%;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.menuBtn:active {
    background-color: #d3d3d3;
    opacity: 0.3;

}
.line {
    background-color: #fff;
    height: 4px;
    margin: 7px 7px;
    border-radius: 1px;
    opacity: 1;
}
.line:active {
    opacity: 1;
}
.sidebar {
    z-index: 9;
    width: 250px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    left: -260px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.sidebar ul {
    padding-top: 20px;
}
.sidebar li {
    width: 190px;
    height: 30px;
    padding: 10px 0px 10px 60px;
    line-height: 30px;
    color: #757575;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.sidebar li:hover {
    background-color: #eee;

}
.sidebar li:active {
    background-color: #d9d9d9;
}
.list {
    width: 90%;
    margin: auto;
    /*background-color: #6cf;*/
    font-size: 16px;
    font-weight: 200;
    font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
}
.list .list-item {
    /*width: 100%;*/
    background-color: #fff;
    margin: 15px 0;
    border-radius: 4px;
    padding: 2px 15px;
    padding-bottom: 30px;

}
.list .list-item .content {
    margin-right: 75px;
}
.btnBox {
    z-index: 10;
    position: fixed;
    right: 5%;
    bottom: 3%;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.addNewBtn {
    cursor: pointer;
    z-index: 12;
    height: 60px;
    width: 60px;
    background-color: #ffe933;
    border-radius: 50%;
    text-align: center;
    line-height: 56px;
    font-size: 30px;
    color: #ffffff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.okBtn {
    cursor: pointer;
    z-index: 11;
    height: 50px;
    width: 50px;
    background-color: #bfbfbf;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    color: #ffffff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 5px;
    bottom: 5px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}
.list .list-item {
    position: relative;

}
.list .list-item .clear {
    position: absolute;
    top: 12px;
    right: 12px;

}
.list .list-item .finish {
    position: absolute;
    top: 12px;
    right: 52px;
}
.list .list-item svg {
    width: 28px;
    height: 28px;
    cursor: pointer;
    fill: #c5c9ce;
    padding: 6px;
}
.inputNewItem {
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    overflow: hidden;
    padding: 110px 5%;

}
#inputTitle {
    width: 90%;
    height: 70px;
    font-size: 23px;
    border: hidden;
    border-bottom: 2px solid grey;
    outline: none;
    /*margin: 110px 5% ;*/

}
#inputContent {
    width: 90%;
    height: 70px;
    font-size: 17px;
    border: hidden;
    border-bottom: 2px solid grey;
    outline: none;
    /*margin: 110px 5% ;*/
}
.createdTime {
    height: 20px;
    /*width: 50px;*/
    float: right;
    font-size: 14px;
    /*position: absolute;*/
    /*right: 13px;*/
    /*bottom: 2px;*/
}
.list-item i {
    height: 0;
    width: 0;
    overflow: hidden;
    display: none;
}
.changeSkin, .about {
    display: none;
    width: 80%;
    /*height: 70%;*/
    border-radius: 5px;
    box-shadow: 1px 1px 10px 3px #aeaeae;
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    background-color: #fff;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.container {
    /*background-color: #6cf;*/
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 20px;
}
.container:after {
    content: "";
    display: block;
    clear: both;
}
.colorBlock {
    /*background-color: #2cdeaa;*/
    /*width: 10%;*/
    /*height: 10%;*/
    width: 30px;
    height: 30px;
    margin: 0 3% 5px 3%;
    float: right;
    border-radius: 5px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.colorBlock:active {
    opacity: 0.3;
}
.red {
    background-color: #ff0000;
}
.blue {
    background-color: #2196F3;
}
.green {
    background-color: #25b99a;
}
.orange {
    background-color: #ff8214;
}
.gray {
    background-color: gray;
}
.rad, .blue, .gray, .green, .orange, .default {
    cursor: pointer;
}
.default {
    background-color: rgb(37, 185, 154);
}